<div class="main-container">
    <div class="content-container">
        <ng-container [ngSwitch]="switchSection">
            <ng-container *ngSwitchCase="'default'">
                <div class="flex justify-center">
                    <img class="w-40" src="/assets/gifs/love.gif" alt="gif">
                </div>
                <div class="my-4 flex flex-col gap-2">
                    <h1 class="text-center text-2xl">Hey <span class="text-pink-400">Sakshi! 💘</span></h1>
                    <p class="text-center text-lg">I’ve run out of pickup lines... so here’s my heart instead. 🫀</p>
                    <p class="text-center text-lg">You're the plot twist my life was missing.</p>
                    <h2 class="text-center text-lg">So... wanna make this official and be my girlfriend? 🥹💍</h2>
                </div>
                <div class="grid grid-cols-2 gap-4">
                    <button class="btn" (click)="onResponse('yes')">
                        <span class="loader" *ngIf="isLoading"></span>
                        <span *ngIf="!isLoading">✨ OMG Yes! Let’s do this!</span>
                    </button>
                    <button class="btn" (click)="onResponse('no')">🙅‍♀️ Nah, I'm too cool for you 😎</button>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="'yes'">
                <div class="flex justify-center">
                    <img class="w-40" src="/assets/gifs/love.gif" alt="gif">
                </div>
                <div class="mt-4 flex flex-col gap-2">
                    <p class="text-center text-lg">Wait... YOU SAID YES?! 😍</p>
                    <p class="text-center text-lg font-medium text-pink-500">I must be dreaming, pinch me! 😭❤️</p>
                    <p class="text-center text-lg">You're stuck with me now. No refunds, no returns. 😘</p>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="'no'">
                <div class="flex justify-center">
                    <img class="w-40" src="/assets/gifs/sad.gif" alt="gif">
                </div>
                <div class="mt-4 flex flex-col gap-3">
                    <p class="text-center text-lg">Ouch... that one hurt. Right in the feels. 💔</p>
                    <p class="text-center text-lg">Are you sure? Like 100% sure? 😭</p>
                    <textarea rows="3" [formControl]="reason"
                        class="py-2 px-5 rounded-md border border-gray-300 text-gray-900 focus:outline-pink-200"
                        placeholder="Please break my heart gently 💬"></textarea>
                    <p class="text-center text-sm italic text-gray-500">Note: Therapist will read this.</p>
                    <button class="btn" (click)="onSendResponse()">
                        <span class="loader" *ngIf="isLoading"></span>
                        <span *ngIf="!isLoading">Fine... tell me why 😔</span>
                    </button>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>